<app-topo></app-topo>

<div *ngIf="jogoStatus; else fimJogo">
    <app-painel (finalizar)="finalizar($event)"></app-painel>
</div>
<ng-template #fimJogo>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert {{alertColor}}" role="alert">
                    <h3>{{msg}}</h3>
                    
                </div>
                <button type="button" class="btn btn-success" (click)="reiniciar()"> 
                    <span><i class="bi bi-arrow-repeat"></i> Novo Jogo</span>
                </button>
            </div>
        </div>
    </div>

</ng-template>